<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yy.crm.service.mapper.SysAclMapper" >
  <resultMap id="BaseResultMap" type="com.yy.crm.service.model.SysAcl" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="seq" property="seq" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
    <result column="operate_ip" property="operateIp" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, code, name, acl_module_id, url, type, status, seq, remark, operator, operate_time,
    operate_ip
  </sql>

  <update id="batchUpdateLevel" parameterType="map">
    <foreach collection="aclList" item="sysAcl" separator=";">
      UPDATE sys_acl
      SET level = #{sysAcl.level}
      WHERE id = #{sysAcl.id}
    </foreach>
  </update>

  <select id="findByType" parameterType="int" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM sys_acl
    WHERE type = #{type}
  </select>

  <select id="getByIdList" parameterType="map" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM sys_acl
    WHERE id IN
    <foreach collection="idList" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </select>
</mapper>