<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yy.crm.service.mapper.SysDeptMapper" >
  <resultMap id="BaseResultMap" type="com.yy.crm.service.model.SysDept" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="seq" property="seq" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
    <result column="operate_ip" property="operateIp" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, name, parent_id, level, seq, remark, operator, operate_time, operate_ip
  </sql>

  <select id="countByNameAndParentId" parameterType="map" resultType="int">
    select
    COUNT(1)
    from sys_dept
    where name = #{name}

    <if test="parentId != null">
      AND parent_id = #{parentId}
    </if>

    <if test="id != null">
      AND id != #{id}
    </if>
  </select>

  <select id="getChildDeptListByLevel" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_dept
    where level like #{level} || '.%'
  </select>

  <update id="batchUpdateLevel" parameterType="map">
    <foreach collection="sysDeptList" item="sysDept" separator=";">
      UPDATE sys_dept
      SET level = #{sysDept.level}
      where id = #{sysDept.id}
    </foreach>
  </update>

  <select id="countByParentId" parameterType="int" resultType="int">
    SELECT count(1)
    FROM sys_dept
    WHERE parent_id = #{deptId}
  </select>
</mapper>